:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 16px;
  padding: 20px;
  background-color: #fafafa;
  color: #2e2f42;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-weight: 400;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
  padding: 0;
}

h3{
  margin: 0;
}

img{
  display: block;
  width: 100%;
  height: 100%;
}

.loader {
  display: none;
  position: relative;
  margin: 50px auto 50px auto;
  width: 32px;
  height: 32px;
  position: relative;
  border-radius: 50%;
  color: #FF3D00;
  animation: fill 1s ease-in infinite alternate;
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  left: 48px;
  top: 0;
  animation: fill 0.9s ease-in infinite alternate;
}

.loader::after {
  left: auto;
  right: 48px;
  animation-duration: 1.1s;
}

@keyframes fill {
  0% {
    box-shadow: 0 0 0 2px inset
  }

  100% {
    box-shadow: 0 0 0 10px inset
  }
}

.form{
  display: flex;
  justify-content: center;
  padding: 36px;
  gap: 8px;
}

.form input{
  width: 272px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form input:hover {
  border-color: #000000;
}

.form input:focus{
  border-color: #4E75FF;
  place-content: "";
}

.form input:focus::placeholder {
  color: transparent;
}

.form button{
  background-color: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  border: 0px transparent;
  font-weight: 500;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form button:hover{
  background-color:#6c8cff;
}

.gallery{
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item{
  width: 360px;
  height: 200px;
  border: 1px solid #808080;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item:hover{
  transform: scale(1.05);
}

.gallery-link {
  flex: 1;
}

.gallery-image {
  object-fit: cover;
  width: 100%;
  height: calc(100% - 40px);
}

.info-summary{
  display: flex;
  padding: 4px 0;
  justify-content: center;
  gap: 32px;
}

.info-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-title{
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  color: #2e2f42;
}

.info-statistics{
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  color: #2e2f42;
}